@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
  min-height: 100vh;
}



button {
  margin: 1rem 1rem 0.5rem;
  font: inherit;
  font-size: 2rem;
  padding: 0.5em 1.5em;
  cursor: pointer;
  border-radius: 0.5rem;
}

